<h2>📢 New Job Application Received</h2>

<p>A new candidate has submitted an application.</p>

<table style="border-collapse: collapse; width: 100%; border: 1px solid #ddd">
  <tr>
    <td><strong>Name</strong></td>
    <td>{{full_name}}</td>
  </tr>

  <tr>
    <td><strong>Email</strong></td>
    <td>{{email}}</td>
  </tr>

  <tr>
    <td><strong>Phone</strong></td>
    <td>{{phone}}</td>
  </tr>

  <tr>
    <td><strong>Job</strong></td>
    <td>{{job_title}}</td>
  </tr>

  <tr>
    <td><strong>Experience</strong></td>
    <td>{{experience}}</td>
  </tr>
</table>

<br />

<a href="{{admin_url}}" class="button"> Review Application </a>
